<!doctype html>
<html lang="en">
{%load static%}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="favicon.ico" />
  <title>Client Login</title>
  <!-- CSS IMPORTS -->
  {% include 'req/req_css.html' %}
  <!-- CSS IMPORTS ENDS -->


  

</head>

<body class="light">
  {% include 'preloader/preloader.html' %}
  
  <div class="wrapper vh-100">
    <div class="row align-items-center h-100">
      <form class="col-lg-3 col-md-4 col-10 mx-auto text-center">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
          <h1>VASUDEVA</h1>
        </a>
      
        <h1 class="h6 mb-3">CLIENT PORTAL</h1>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Username</label>
          <input type="text" id="inputEmail" class="form-control form-control-lg" placeholder="Username" required=""
            autofocus="">
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password"
            required="">
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Stay logged in </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in</button>
        <p id="footer-copyright" class="mt-5 mb-3 text-muted"></p>
        <p id="footer-time" class=" mb-3 text-muted"></p>
      </form>
    </div>
  </div>
  <script>
    var d = new Date();
    var day = d.getFullYear();
    document.getElementById('footer-copyright').innerHTML = "Vasudeva - CEX  " + day + " ";

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }
    var timeout = 199;
    function startTime() {
      timeout--;
      if (timeout == 1) {
        location.reload();
      }
      document.getElementById('footer-time').innerHTML = "Page Reloads in - " + timeout + "s";
      t = setTimeout(function () {
        startTime()
      }, 1000);
    }
    startTime();

  </script>

  <!-- JAVASCRIPT IMPORTS -->
  {% include 'req/req_js.html' %}
  <!-- JAVASCRIPT IMPORT ENDS -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script>

var loader = document.getElementById("preloader");
window.addEventListener("load",function(){
  $("#preloader").fadeOut(1000/2);
})
</script>

</body>

</html>
</body>

</html>