<!doctype html>
<html lang="en">
{%load static%}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="favicon.ico" />
  <title>Vasudeva Admin Login</title>
  <!-- CSS IMPORTS -->
  {% include 'req/req_css.html' %}
  <!-- CSS IMPORTS ENDS -->

</head>

<body class="light ">
  <div class="wrapper vh-100">
    <div class="row align-items-center h-100">
      <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="post">
        {% csrf_token %}
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
          <h1>VASUDEVA</h1>
        </a>
        <h1 class="h6 mb-3">Client Registration</h1>

        <div class="form-group">
          <label for="org_name" class="sr-only">Company Name</label>
          <input type="text" id="org_name" class="form-control form-control-lg" placeholder="Company/Project Name"
            required="" name="org_name">
        </div>
        <div class="form-group">
          <label for="mobile" class="sr-only">Mobile </label>
          <input type="text" id="mobile" class="form-control form-control-lg" placeholder="Phone Number" required=""
            name="mobile">
        </div>
        <div class="form-group">
          <label for="username" class="sr-only">Admin Username</label>
          <input type="text" id="username" class="form-control form-control-lg" placeholder="Username" required=""
            name="username">
        </div>

        <div class="form-group">
          <label for="name" class="sr-only">Admin Name</label>
          <input type="text" id="name" class="form-control form-control-lg" placeholder="Admin Name" required=""
            name="name">
        </div>

        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input type="email" id="email" class="form-control form-control-lg" placeholder="E-Mail ID" required=""
            name="email">
        </div>

        <div class="form-group">
          {{form.captcha}}
        </div>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="tnc" value="yes"> By checking this box, you agree to <a href="">Terms
              &
              condition</a> of using
            Vasudeva API services.</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register Company</button>
        <p id="footer-copyright" class="mt-5 mb-3 text-muted"></p>
        <p id="footer-time" class=" mb-3 text-muted"></p>
      </form>
    </div>
  </div>

  <script>
    var d = new Date();
    var day = d.getFullYear();
    document.getElementById('footer-copyright').innerHTML = "Vasudeva - CEX © " + day + " ";

  </script>

  <script>
    document.getElementById("id_captcha_1").placeholder = "Captcha";
  </script>
  <!-- JAVASCRIPT IMPORTS -->
  {% include 'req/req_js.html' %}
  <!-- JAVASCRIPT IMPORT ENDS -->



  <script type="text/javascript">
    $("#new_org").submit(function (e) {
      e.preventDefault();
      $.ajax({

        type: "POST",
        url: "{% url 'ajax_client_new' %}",
        data: $(this).serialize(),
        success: function (data) {
          // function here
          if (data.success) {
            //console.log("ACCEPTED");
            document.getElementById("success_modal").click();
          }
          else {
            //console.log("FAILED");
            document.getElementById("error_modal").click();
          }
        },
      });
    });
  </script>
</body>

</html>